{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4">Add biography for superhero</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="POST">
            {{ form.csrf_token }}
            {% for field in form.errors %}
            <div class="alert alert-danger">{{ field }}:
                <ul>
                    {% for error in form.errors[field] %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {{field.label(class="col-form-label")}}
            <div class="col-sm-10">
                {{field(class="form-control")}}
            </div>

            {% endfor %}
            <button class="btn btn-outline-success btn-block">Add!</button>
        </form>
    </div>
</div>

{% endblock %}