{% extends 'base.html' %}
{% block content %}
<h2>User: {{g.user.username}}, superhero list!</h2>
<form method="GET" action="/mylist/create">
    <button class="btn btn-outline-primary">Create New Superhero</button>
</form>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="POST" action="/mylist/view">
            {{ form.csrf_token }}
            <div>
                {% if form.name.errors %}
                {% for error in form.name.errors %}
                <span class="text-danger">
                    {{ error }}
                </span>
                {% endfor %}
                {% endif %}
                {{ form.name(placeholder="Enter a name of a superhero", class="form-control") }}
                <button class="btn btn-outline-success">Search!</button>
            </div>
        </form>
    </div>
</div>
{% if superhero_list %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="list-group no-hover" id="messages">
            {% for superhero in superhero_list %}
            <li class="list-group-item">
                <div class="message-area">
                    <h1>Name: {{ superhero.name }}</h1>
                    <img src="{{ superhero.image_url }}" alt="image of superhero" width="400px" height="400px">
                </div>
                <form method="POST" action="/mylist/delete/{{ superhero.id }}">
                    <button class="btn btn-outline-success">Delete</button>
                </form>
                <form method="GET" action="/mylist/view/{{ superhero.id }}">
                    <button class="btn btn-outline-primary">View</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}