body {
    background-color: #e6ecf0;
}

body.error-404 {
    background-color: #1da1f2;
}

.btn {
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
}

.form-control {
    margin-bottom: 20px;
    display: inline-block;
}

.order-by {
    display: inline-block; 
    margin-bottom: 20px;
    padding: 5px;
}

.superhero-img {
    width: 400px; 
    height: 400px;
}

.title {
    text-align: center;
    margin: 20px;
}

.navbar {
    background-color: lightskyblue;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.navbar a {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav>li>a>img {
    width: 32px;
    border-radius: 32px;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 0.3rem;
    display: flex;
}

nav form.navbar-form {
    display: flex;
    position: relative;
}

.onboarding .navbar-header {
    margin: 0 auto;
}

.onboarding .navbar-brand {
    margin: 0;
}

.onboarding .navbar-brand span {
    display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
    position: absolute;
    right: 16px;
}

.onboarding>.navbar a {
    color: #000000;
}

.onboarding>.navbar form.navbar-form {
    display: none;
}

.onboarding>.navbar a:hover {
    color: white;
}

.onboarding {
    background-color: #fff;
}

nav+.container {
    margin-bottom: 1rem;
}

.timeline-image {
    border-radius: 48px;
    height: 48px;
    width: 48px;
    margin-top: 2px;
}

.row.full-width {
    background-color: #fff;
    margin-top: -80px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 60px;
    align-items: center;
}

.hero-card,
.timeline-image {
    display: block;
}

.hero-card {
    margin-left: 10px;
}

#superhero-card {
    position: relative;
}

#superhero-card .list-group-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 7px 20px 12px;
}

#superhero-card:not(.no-hover) .list-group-item:hover {
    background-color: #e6ecf0;
}

#superhero-card.no-hover .hero-card {
    width: 100%;
}

#superhero-card.no-hover .superhero-heading {
    display: flex;
    justify-content: space-between;
    height: 47px;
    margin-top: 3px;
}

#superhero-card.no-hover .superhero-heading .btn {
    min-width: 105px;
}

.home-title {
    font-size: 70px;
    color: darkblue;
    text-shadow: white 1px 0 10px;
}

.home-title-2 {
    font-size: 40px;
    color: darkblue;
    text-shadow: white 1px 0 10px;
}

.home-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
    background-image: url("/static/images/home-page.jpg");
    background-size: cover;
    background-position: center center;
    color: black;
    text-align: center;
    padding: 1rem;
}

.home-hero .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 150px;
}

.home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.175);
}

#user_form input.form-control {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.message-404 {
    color: white;
    margin-top: 2em;
    text-align: center;
}

.message-404 a {
    color: white;
}

.message-404>h4.display-4 {
    font-size: 2.5em;
}

.message-404 .form-inline input {
    flex: 1;
}