<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Superheros</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/style.css">
  <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/users/search" class="navbar-brand">
        <!-- <img src="/static/images/warbler-logo.png" alt="logo"> -->
        <span>Superheros</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li>
        <a href="/user/{{ g.user.id }}">
          <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
        </a>
      </li>
      <li><a class="btn btn-outline-success" href="/mylist/view">My Superheros</a></li>
      <li><a class="btn btn-outline-primary" href="/favorites/view">Favorites</a></li>
      <li><a class="btn btn-outline-secondary" href="/api/search">Search</a></li>
      <li><a class="btn btn-outline-dark"href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
</body>
</html>