{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="list-group no-hover" id="superhero-card">
            <li class="list-group-item">
                <img src="{{ user.image_url }}" alt="" class="timeline-image">
                <div class="hero-card">
                    <div class="message-heading">
                        <h1>Username: {{ user.username }}</h1>
                        <form method="POST" action="/user/edit/{{ user.id }}">
                            <button class="btn btn-outline-success">Edit Profile</button>
                        </form>
                    </div>
                    <p>First name: {{ user.first_name }}</p>
                    <p>Last name: {{ user.last_name }}</p>
                </div>
            </li>
            <form method="GET" action="/mylist/view">
                <button class="btn btn-outline-success">View My List</button>
            </form>
            <form method="GET" action="/favorites/view">
                <button class="btn btn-outline-success">View Favorites</button>
            </form>
        </ul>
    </div>
</div>
{% endblock %}